:root {
  --selection-color: #404bbf;
  --footer-icon-background: #31d0aa;
  --team-icon-background: #4d5ae5;
  --logo-color: #4d5ae5;
  --logo-footer-color: #f4f4fd;
  --text-footer-color: #e7e9fc;
  --logo-footer-color: #ffffff;
  --hero-color: #2f303a;
  --background-first: #ffffff;
  --background-second: #f4f4fd;
  --background-third: #ffffff;
  --background-header: #ffffff;
  --primary-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --background-third-color: #757575;
  --portfolio-background: #ffffff;
  --button-background: #4d5ae5;
  --button-background-second: #f4f4fd;
  --filter-button-color: #4d5ae5;
  --icons-first-background: #ffffff;
  --icons-second-background: #f4f4fd;
  --icons-third-background: #ffffff;
  --twitter-foot-background: #2196f3;
  --icons-foot-background: rgba(255, 255, 255, 0.1);
  --likedin-background: #2196f3;
  --icons-border-color: #8e8f99;
  --primary-white-color: #ffffff;
  --third-text-color: #ffffff;
  --border-color: #e7e9fc;
  --logo-part-color: #2e2f42;
  --footer-background: #2e2f42;
  --text-border-color: #eeeeee;
  --card-border-color: #e7e9fc;
  --card-background-color: #ffffff;
  --backdrop-background-color: #ffffff;
  --contacts-footer-background: rgba(255, 255, 255, 0.6);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background: var(--primary-white-color);
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.header {
  display: flex;
  border-bottom: 1px solid var(--border-color);
}

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
  background: var(--portfolio-background);
}

.hero {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 188px;
  padding-bottom: 188px;
  background-repeat: no-repeat;
  background-position: center;
  background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url("images/people-office 1.jpg");
}

.navigate {
  display: flex;
  align-items: center;
}
.backdrop {
  display: flex;
}
.modal {
  display: flex;
  width: 408px;
  height: 576px;
  margin-left: 310px;
  margin-top: -930px;
  margin-right: 20px;
  padding-top: 5px;
  padding-right: 32px;
  margin-bottom: 248px;
  background: var(--backdrop-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-button {
  display: flex;
  box-sizing: border-box;
  border-radius: 12px;
  height: 24px;
  width: 24px;
  margin-top: 14px;
  margin-left: 365px;
  margin-right: -19px;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background, color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover .icon-close {
  opacity: 0;
}
.modal-button:hover {
  background: var(--selection-color);
  background-repeat: no-repeat;
  background-size: 8px 8px;
  background-position: center;
  background-image: url("images/svg/close-hover.svg");
}
.icon-close {
  position: relative;
  left: 35%;
  right: 0%;
  top: 30%;
  bottom: 0%;
}
.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  text-decoration: none;
  /* identical to box height */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo:focus {
  outline: 0;
}
.logo-part {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.3;
  text-transform: uppercase;
  color: var(--logo-part-color);
  flex: none;
  order: 1;
  flex-grow: 0;
}

.pages {
  display: flex;
  list-style: none;
  margin-left: 76px;
  gap: 40px;
}
.page {
  display: flex;
  align-items: center;
}
.page-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
  flex: none;
  order: 0;
  flex-grow: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-link.current {
  color: var(--selection-color);
}
.page-link-portfolio.current {
  color: var(--selection-color);
}
.current::after {
  display: block;
  position: relative;
  content: "";
  width: 100%;
  height: 4px;
  bottom: -25px;
  border-radius: 2px;
  background-color: var(--selection-color);
}

.page-link:hover,
.page-link:focus {
  outline: 0;
  color: var(--selection-color);
}

.contacts {
  display: flex;
  list-style: none;
  align-items: center;
  margin-left: auto;
  gap: 40px;
}
.contact-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
  outline: 0;
  color: var(--selection-color);
}

.hero-title {
  width: 696px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.1;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  background-color: transparent;
  color: var(--third-text-color);
}

.button {
  display: block;
  margin: 0 auto;
  min-width: 200px;
  height: 56px;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 48px;
  padding: 16px 32px;
  border: none;
  cursor: pointer;
  color: var(--third-text-color);
  background: var(--button-background);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 500;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  outline: 0;
  background: var(--selection-color);
}

.principles-icon {
  display: flex;
  height: 112px;
  width: 264px;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  background: var(--icons-second-background);
  border-radius: 4px;
}

.principles {
  display: flex;
  background: var(--background-first);
}
.principles-list {
  display: flex;
  list-style: none;
  text-decoration: none;
  gap: 24px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.principles-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-text-color);
}

.principles-content {
  margin-top: 8px;
  font-size: 16px;
  line-height: 1.5;
  /* or 171% */
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.services {
  padding-top: 0;
  background: var(--background-first);
}

.services-title {
  text-decoration: none;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-text-color);
}
.services-images {
  list-style: none;
  display: flex;
  margin-top: 72px;
  gap: 24px;
}
.services-image:nth-child(1) {
  width: 360px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background: linear-gradient(
      0deg,
      rgba(77, 90, 229, 0.1),
      rgba(77, 90, 229, 0.1)
    ),
    url("images/img1.jpg");
  background-blend-mode: soft-light, normal;
  border: 1px solid #e7e9fc;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.services-image:nth-child(2) {
  width: 360px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background: linear-gradient(
      0deg,
      rgba(77, 90, 229, 0.1),
      rgba(77, 90, 229, 0.1)
    ),
    url("images/img2.jpg");
  background-blend-mode: soft-light, normal;
  border: 1px solid #e7e9fc;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.services-image:nth-child(3) {
  width: 360px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background: linear-gradient(
      0deg,
      rgba(77, 90, 229, 0.1),
      rgba(77, 90, 229, 0.1)
    ),
    url("images/img3.jpg");
  background-blend-mode: soft-light, normal;
  border: 1px solid #e7e9fc;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.icons {
  display: flex;
  margin-left: 16px;
  list-style: none;
  gap: 24px;
}

.team-icon {
  display: flex;
  height: 40px;
  width: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--team-icon-background);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon:hover,
.team-icon:focus {
  outline: 0;
  background: var(--selection-color);
}
.team-item:nth-child(1) > .team-picture {
  width: 264px;
  height: 260px;
  background: url("images/img4.jpg");
  mix-blend-mode: normal;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.team-item:nth-child(2) > .team-picture {
  width: 264px;
  height: 260px;
  background: url("images/img5.jpg");
  mix-blend-mode: normal;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.team-item:nth-child(3) > .team-picture {
  width: 264px;
  height: 260px;
  background: url("images/img6.jpg");
  mix-blend-mode: normal;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.team-item:nth-child(4) > .team-picture {
  width: 264px;
  height: 260px;
  background: url("images/img7.jpg");
  mix-blend-mode: normal;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.clients {
  display: flex;
  display: block;
}
.clients-list {
  display: flex;
  list-style: none;
  gap: 24px;
  margin-top: 72px;
}
.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-text-color);
}

.clients-ya {
  display: flex;
  width: 168px;
  height: 88px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--icons-border-color);
  border-radius: 4px;
  background: var(--icons-third-background);
  fill: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-ya:hover svg,
.clients-ya:focus svg {
  opacity: 0;
}
.clients-ya:hover,
.clients-ya:focus {
  outline: 0;
  border: 1px solid var(--selection-color);
  background-repeat: no-repeat;
  background-image: url("images/svg/client-first-first.svg");
  background-size: 104px 56px;
  background-position: center;
}
.clients-mens {
  display: flex;
  width: 168px;
  height: 88px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--icons-border-color);
  border-radius: 4px;
  background: var(--icons-third-background);
  fill: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-mens:hover svg,
.clients-mens:focus svg {
  opacity: 0;
}
.clients-mens:hover,
.clients-mens:focus {
  outline: 0;
  border: 1px solid var(--selection-color);
  background-repeat: no-repeat;
  background-image: url("images/svg/client-second-second.svg");
  background-size: 104px 56px;
  background-position: center;
}
.clients-company {
  display: flex;
  width: 168px;
  height: 88px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--icons-border-color);
  border-radius: 4px;
  background: var(--icons-third-background);
  fill: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-company:hover svg,
.clients-company:focus svg {
  opacity: 0;
}
.clients-company:hover,
.clients-company:focus {
  outline: 0;
  border: 1px solid var(--selection-color);
  background-repeat: no-repeat;
  background-image: url("images/svg/client-third-third.svg");
  background-size: 104px 56px;
  background-position: center;
}
.clients-foster {
  display: flex;
  width: 168px;
  height: 88px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--icons-border-color);
  border-radius: 4px;
  background: var(--icons-third-background);
  fill: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-foster:hover svg,
.clients-foster:focus svg {
  opacity: 0;
}
.clients-foster:hover,
.clients-foster:focus {
  outline: 0;
  border: 1px solid var(--selection-color);
  background-repeat: no-repeat;
  background-image: url("images/svg/client-forth-forth.svg");
  background-size: 104px 56px;
  background-position: center;
}
.clients-brand {
  display: flex;
  width: 168px;
  height: 88px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--icons-border-color);
  border-radius: 4px;
  background: var(--icons-third-background);
  fill: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-brand:hover svg,
.clients-brand:focus svg {
  opacity: 0;
}
.clients-brand:hover,
.clients-brand:focus {
  outline: 0;
  border: 1px solid var(--selection-color);
  background-repeat: no-repeat;
  background-image: url("images/svg/client-fifth-fifth.svg");
  background-size: 104px 56px;
  background-position: center;
}
.clients-tag {
  display: flex;
  width: 168px;
  height: 88px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--icons-border-color);
  border-radius: 4px;
  background: var(--icons-third-background);
  fill: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-tag:hover svg,
.clients-tag:focus svg {
  opacity: 0;
}
.clients-tag:hover,
.clients-tag:focus {
  outline: 0;
  border: 1px solid var(--selection-color);
  background-repeat: no-repeat;
  background-image: url("images/svg/client-six-six.svg");
  background-size: 104px 56px;
  background-position: center;
}

.team {
  background: var(--background-second);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-text-color);
}
.team-list {
  display: flex;
  list-style: none;
  margin-top: 72px;
  gap: 24px;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.02em;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.team-item {
  background: var(--primary-white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-card {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-profession {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.5;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.filter-buttons {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 24px;
}
.filter-button {
  cursor: pointer;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 24px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--filter-button-color);
  background: var(--button-background-second);
  border: 1px solid var(--border-color);
  flex: none;
  order: 1;
  flex-grow: 0;
  transition: color, background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--third-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background: var(--selection-color);
  border: transparent;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.cards-picture {
  display: flex;
  overflow: hidden;
}

.cards-picture:hover,
.cards-item:hover .cards-overlay {
  transform: translateY(0%);
}
.cards-overlay {
  display: flex;
  width: 360px;
  background: #4d5ae5;
  background-blend-mode: soft-light;
  mix-blend-mode: normal;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cards-overlay-title {
  display: flex;
  padding-left: 32px;
  padding-top: 40px;
  padding-bottom: 164px;
  padding-right: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  /* or 156% */
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background: #4d5ae5;
  background-blend-mode: soft-light;
  mix-blend-mode: normal;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 72px;
  padding: 0;
  gap: 24px;
}
.cards-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cards-item:hover,
.cards-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-item:nth-child(1) > .cards-picture {
  width: 360px;
  height: 300px;
  background: linear-gradient(
      0deg,
      rgba(77, 90, 229, 0.1),
      rgba(77, 90, 229, 0.1)
    ),
    url("images/imgp1.jpg");
  background-blend-mode: soft-light, normal;
  mix-blend-mode: normal;
}
.cards-item:nth-child(2) > .cards-picture {
  width: 360px;
  height: 300px;
  background: linear-gradient(
      0deg,
      rgba(77, 90, 229, 0.1),
      rgba(77, 90, 229, 0.1)
    ),
    url("images/imgp2.jpg");
  background-blend-mode: soft-light, normal;
  mix-blend-mode: normal;
}
.cards-item:nth-child(3) > .cards-picture {
  width: 360px;
  height: 300px;
  background: linear-gradient(
      0deg,
      rgba(77, 90, 229, 0.1),
      rgba(77, 90, 229, 0.1)
    ),
    url("images/imgp3.jpg");
  mix-blend-mode: normal;
}
.cards-item:nth-child(4) > .cards-picture {
  width: 360px;
  height: 300px;
  background: linear-gradient(
      0deg,
      rgba(77, 90, 229, 0.1),
      rgba(77, 90, 229, 0.1)
    ),
    url("images/imgp4.jpg");
  background-blend-mode: soft-light, normal;
}
.cards-item:nth-child(5) > .cards-picture {
  width: 360px;
  height: 300px;
  background: linear-gradient(
      0deg,
      rgba(77, 90, 229, 0.1),
      rgba(77, 90, 229, 0.1)
    ),
    url("images/imgp5.jpg");
  background-blend-mode: soft-light, normal;
  mix-blend-mode: normal;
}
.cards-item:nth-child(6) > .cards-picture {
  width: 360px;
  height: 300px;
  background: linear-gradient(
      0deg,
      rgba(77, 90, 229, 0.1),
      rgba(77, 90, 229, 0.1)
    ),
    url("images/imgp6.jpg");
  background-blend-mode: soft-light, normal;
  mix-blend-mode: normal;
}
.cards-item:nth-child(7) > .cards-picture {
  width: 360px;
  height: 300px;
  background: linear-gradient(
      0deg,
      rgba(77, 90, 229, 0.1),
      rgba(77, 90, 229, 0.1)
    ),
    url("images/imgp7.jpg");
  background-blend-mode: soft-light, normal;
}
.cards-item:nth-child(8) > .cards-picture {
  width: 360px;
  height: 300px;
  background: linear-gradient(
      0deg,
      rgba(77, 90, 229, 0.1),
      rgba(77, 90, 229, 0.1)
    ),
    url("images/imgp8.jpg");
  background-blend-mode: soft-light, normal;
  mix-blend-mode: normal;
}
.cards-item:nth-child(9) > .cards-picture {
  width: 360px;
  height: 300px;
  background: linear-gradient(
      0deg,
      rgba(77, 90, 229, 0.1),
      rgba(77, 90, 229, 0.1)
    ),
    url("images/imgp9.jpg");
  background-blend-mode: soft-light, normal;
  mix-blend-mode: normal;
}
.cards-poster {
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  border: 1px solid var(--card-border-color);
  border-top: none;
}

.cards-title {
  margin-left: 16px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  /* identical to box height, or 200% */
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.cards-text {
  margin-left: 16px;
  margin-top: 8px;
  font-size: 16px;
  line-height: 1.5;
  /* identical to box height, or 188% */
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  flex: none;
  order: 1;
  flex-grow: 0;
}

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background: var(--footer-background);
}
.footer .container {
  display: flex;
  align-items: baseline;
}

.section-info {
  display: flex;
  display: block;
}

.logo-same {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  /* identical to box height */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-same:focus {
  outline: 0;
}
.logo-same-part {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  /* identical to box height */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-footer-color);
}

.info-text {
  display: flex;
  margin-top: 16px;
  width: 264px;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-footer-color);
}

.networks {
  display: flex;
  display: block;
  margin-left: 120px;
}
.networks-title {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--third-text-color);
}

.networks-icons {
  display: flex;
  margin-top: 16px;
  list-style: none;
  gap: 16px;
}

.networks-icon:nth-child(1) {
  display: flex;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--icons-foot-background);
  align-items: center;
  justify-content: center;
  transition: outline, background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.networks-icon:nth-child(1):hover,
.networks-icon:nth-child(1):focus {
  outline: 0;
  background: var(--footer-icon-background);
}
.networks-icon:nth-child(2) {
  display: flex;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--icons-foot-background);
  align-items: center;
  justify-content: center;
  transition: outline, background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.networks-icon:nth-child(2):hover,
.networks-icon:nth-child(2):focus {
  outline: 0;
  background: var(--footer-icon-background);
}
.networks-icon:nth-child(3) {
  display: flex;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--icons-foot-background);
  align-items: center;
  justify-content: center;
  transition: outline, background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.networks-icon:nth-child(3):hover,
.networks-icon:nth-child(3):focus {
  outline: 0;
  background: var(--footer-icon-background);
}
.networks-icon:nth-child(4) {
  display: flex;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--icons-foot-background);
  align-items: center;
  justify-content: center;
  transition: outline, background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.networks-icon:nth-child(4):hover,
.networks-icon:nth-child(4):focus {
  outline: 0;
  background: var(--footer-icon-background);
}
.footer-portfolio {
  padding-top: 100px;
  padding-bottom: 100px;
  background: var(--footer-background);
}
.footer-portfolio {
  width: 100%;
}
.footer-portfolio .container {
  display: flex;
  align-items: baseline;
}
