:root{
--selection-color:#2196F3;
--logo-color:#2196F3;
--logo-footer-color:#FFFFFF;
--hero-color:#2F303A;
--background-first:#FFFFFF;
--background-second:#F5F4FA;
--background-third:#FFFFFF;
--background-header:#FFFFFF;
--primary-text-color:#212121;
--secondary-text-color:#757575;
--background-third-color:#757575;
--portfolio-background:#FFFFFF;
--button-background:#2196F3;
--button-background-second:#F5F4FA;
--icons-first-background:#FFFFFF;
--icons-second-background:#F5F4FA;
--icons-third-background:#F5F5F5;
--twitter-foot-background:#2196F3;
--icons-foot-background:rgba(255, 255, 255, 0.1);
--likedin-background:#2196F3;
--icons-border-color:#AFB1B8;
--primary-white-color:#FFFFFF;
--third-text-color:#FFFFFF;
--border-color:#ECECEC;
--logo-part-color:#000000;
--footer-background:#2F303A;
--text-border-color:#EEEEEE;
--card-border-color:#EEEEEE;
--card-background-color:#FFFFFF;
--backdrop-background-color:#FFFFFF;
--contacts-footer-background:rgba(255, 255, 255, 0.6);
--overlay-color:rgba(47, 48, 58, 0.8);
--button-submit-color:#188CE8;
}
*,*::before,*::after { 
margin: 0; 
padding: 0;
} 
body {
font-family: 'Roboto', sans-serif;
font-size: 14px;
background: var(--primary-white-color);
}

.container{
width:1200px;
padding-left:15px;
padding-right:15px;
margin:0 auto;
}
.section{
padding-top:94px;
padding-bottom:94px;
}
.header{
display:flex;
border-bottom:1px solid var(--border-color);
}


.portfolio{
background: var(--portfolio-background);
}

.hero{
padding-top:200px;
padding-bottom:200px;
background-repeat:no-repeat;
background-position:center;
background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
 url("image/img.jpg");
}

.navigate{
display:flex;
align-items:center;
}
.backdrop{
display:flex;
}
.frame{
width:528px;
padding-left:15px;
padding-right:15px;
margin:0 auto;
}
.modal{
display:flex;
width: 528px;
height: 581px;
margin-left: 321px;
margin-top: -800px;
margin-right:20px;
padding-top:5px;
padding-right:32px;
margin-bottom:248px;
background: var(--backdrop-background-color);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
transform: translatey(-100%);
opacity:0;
}
.is-hidden{
opacity:0;
visibility:hidden;
pointer-events:0;
}
.modal-button{
display:flex;
box-sizing: border-box;
border-radius:15px;
height:30px;
width:30px;
margin-top:5px;
margin-left:-40px;
margin-right:-550px;
background: var(--primary-white-color);
border: 1px solid rgba(0, 0, 0, 0.1);
transition-property: modal;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);	
}
.close{
display:flex;
box-sizing: border-box;
width:11px;
height:11px;
margin-left: 30%;
margin-right: 20%;
margin-top: 30%;
margin-bottom: 0%;
padding-right:-16px;
color: var(--header-selection-color);
background: var(--primary-white-color);
border: 1px solid rgba(0, 0, 0, 0.1);
 }
.modal:hover{
transform: scale(1);
opacity:1;
 }
.convert{
margin-right:10px;
transition-property: background;
transition-duration: 250ms;
transform: cubic-bezier(0.4, 0, 0.2, 1);
 }
.smart{
margin-right:10px;
}

.modal-title{
display:flex;
margin-top:40px;
margin-left:41px;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 1.1;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
 }
.modal-name{
display:flex;
box-sizing: border-box;
width: 448px;
height: 40px;
margin-left: -25px;
margin-top: 16px;
padding-left:46px;
border: 1px solid var(--selection-color);
border-radius: 4px;
background-image: url("image/person-black-18dp 1.svg");
background-repeat: no-repeat;
background-position: 15px;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
 }

.modal-person{
display:flex;
margin-left: 30px;
margin-top: 12px;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;

/* identical to box height */
letter-spacing: 0.01em;
color: var(--secondary-text-color);
}
.modal-telephone{
display: flex;
box-sizing: border-box;
width: 448px;
height: 40px;
margin-left: -47px;
margin-top: 18px;
padding-left:46px;
background-image:url("image/phone-black-18dp 1.svg");
background-repeat:no-repeat;
background-position:13px;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
}
.modal-phone{
display:flex;
margin-left: 27px;
margin-top: 10px;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 1.2;
/* identical to box height */
letter-spacing: 0.01em;
color: var(--secondary-text-color);
}
.modal-mail{
display:flex;
margin-left: 27px;
margin-top: 10px;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 1.2;

/* identical to box height */
letter-spacing: 0.01em;

color: var(--secondary-text-color);

}
.modal-e-mail{
display: flex;
box-sizing: border-box;
width: 448px;
height: 40px;
margin-left: -37px;
margin-top: 18px;
padding-left:46px;
background-image:url("image/email-black-18dp 1.svg");
background-repeat:no-repeat;
background-position:14px;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.modal-comment{
display:flex;
margin-left: 27px;
margin-top: 10px;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 1.2;
/* identical to box height */
letter-spacing: 0.01em;
color: var(--secondary-text-color);
}
.modal-area{
box-sizing: border-box;
display: flex;
width: 448px;
height: 120px;
margin-left: -57px;
margin-top: 22px;
resize: none; 
border: 1px solid rgba(33, 33, 33, 0.2);
background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
}
.modal-area::placeholder{
display: flex;
padding-left: 16px;
padding-top: 12px;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 1.2;
letter-spacing: 0.01em;
color: rgba(117, 117, 117, 0.5);
}
.modal-text{
display:flex;
margin-left:75px;
margin-top: -20px;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.7;
/* identical to box height, or 171% */
letter-spacing: 0.03em;
color: var(--secondary-text-color);
}
.invisible{
visibility:hidden;
}
.conditions{
color:var(--selection-color);
text-decoration:1px solid var(--header-selection-color) underline;
cursor:pointer;
}
.modal-check{
display: flex;
display:none;
box-sizing:border-box;
width: 16px;
height: 15px;
margin-left: 44px;
margin-top: -20px;
padding-left:3px;
padding-right:-7px;
padding-top:2px;
padding-bottom:2px;
border-radius: 2px;
}
.label-check{
display: inline-block;
width: 14px;
height: 14px;
margin-top:20px;
margin-left:44px;
background:var(--selection-color);
}
.modal-checked{
margin-left:0px;
margin-top:0px;
}
.modal-submit{
display: flex;
cursor:pointer;
margin-left: 145px;
margin-top: 30px;
margin-right:0px;
padding-left:52px;
padding-right:52px;
padding-top:10px;
padding-bottom:10px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.9;
/* identical to box height, or 188% */
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: var(--primary-white-color);
background: var(--button-submit-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border:0px;
}
.logo{
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height:1.2;
text-decoration:none;
/* identical to box height */
letter-spacing: 0.03em;
color:var(--logo-color);
display:flex;
padding-top: 26px;
padding-bottom:25px;
transition-property: color;
transition-duration: 250ms;
transform: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-part{
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
letter-spacing: 0.03em;
line-height:1.2;
color: var(--logo-part-color); 
}
.logo:focus{
color:var(--selection-color);
outline: 1px solid var(--selection-color);
}

.pages{
display:flex;
list-style:none;
margin-left:93px;
gap:50px;
}
.page{
display:flex;
align-items:center;
}
.page-link.current{
color:var(--selection-color);
}
.page-link-portfolio.current{
color:var(--selection-color);
}
.page-link:nth-child(1).current::after{
display:flex;
content:"";
width:45px;
height:35px;
margin-bottom:-33px;
border-bottom: 4px solid var(--selection-color); 
}
.page-link-portfolio:nth-child(1).current::after{
display:flex;
content:"";
width:72px;
height:35px;
margin-bottom:-33px;
border-bottom: 4px solid var(--selection-color); 
}
.page-link{
display:block;
padding-top:32px;
padding-bottom:32px;
font-weight: 500;
line-height: 1.1;
letter-spacing: 0.02em;
color: var(--primary-text-color);
text-decoration:none;
transition-property: color;
transition-duration: 250ms;
transform: cubic-bezier(0.4, 0, 0.2, 1);
}
.page-link-portfolio{
display:block;
padding-top:32px;
padding-bottom:32px;
font-weight: 500;
line-height: 1.1;
letter-spacing: 0.02em;
color: var(--primary-text-color);
text-decoration:none;
transition-property: color;
transition-duration: 250ms;
transform: cubic-bezier(0.4, 0, 0.2, 1);
}

.page-link:hover{
color:var(--selection-color);
}
.page-link:focus{
color:var(--selection-color);
outline: 1px solid var(--selection-color);
}
.page-link-portfolio:hover{
color:var(--selection-color);
}
.page-link-portfolio:focus{
color:var(--selection-color);
outline: 1px solid var(--selection-color);
}
.contacts{
display:flex;
list-style:none;
align-items:center;
margin-left:auto;
gap:50px;

}
.contact-link{
text-decoration:none;
font-weight: 500;
line-height: 1.1;
letter-spacing: 0.02em;
color: var(--secondary-text-color);
transition-property: color;
transition-duration: 250ms;
transform: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover{
color:var(--selection-color);
}
.contact-link:focus{
color:var(--selection-color);	
outline:1px solid var(--selection-color);
}
.hero-title{
width:696px;
margin:0 auto;
font-weight: 900;
font-size: 44px;
line-height: 1.4;
/* or 136% */
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
background-color:transparent;
color: var(--third-text-color);
}


.button{
display:block;
margin:0 auto;
min-width:200px;
height:50px;
font-size:16px;
margin-top:30px;
padding:10px 32px;
border:none;
cursor:pointer;
color:var(--third-text-color);
background: var(--button-background);
box-shadow: 0px 4px 4px 0px #000000 15%;
border-radius: 4px;
font-weight:700;
transition-property: background;
transition-duration: 250ms;
transform: cubic-bezier(0.4, 0, 0.2, 1);
}
.button:focus{
background:var(--selection-color);
}

.principles-icon{
display:flex;
height:120px;
justify-content:center;
align-items:center;
margin-bottom:30px;
background: var(--icons-second-background);
border-radius: 4px;
}

.principles{
display:flex;
}
.principles-list{
display:flex;
list-style:none;
text-decoration:none;
gap:30px;
}

.visually-hidden{
position: absolute;
white-space: nowrap;
width: 1px;
height: 1px;
overflow: hidden;
border: 0;
padding: 0;
clip: rect(0 0 0 0);
clip-path: inset(50%);
margin: -1px;
}
.principles-title{
font-weight: 700;
font-size:14px;
line-height: 1.1;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-text-color);
}

.principles-content{
margin-top:10px;
line-height: 1.7;
/* or 171% */
letter-spacing: 0.03em;
color: var(--secondary-text-color);
}
.services{
padding-top:0;
}
img{
display:block;
}
.services-title{
text-decoration:none;
font-weight: 700;
font-size: 36px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.03em;
}
.services-overlay{
width: 370px;
background: var(--overlay-color);
transform: translatey(-100%);
}
.services-overlay-title{
display:flex;;
padding-left: 93px;
padding-right:93px;
padding-top: 30px;
padding-bottom: 30px;
font-weight: 700;
font-size: 14px;
line-height: 1.1;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--third-text-color);
}

.services-images{
list-style:none;
display:flex;
margin-top:50px;
gap:30px;
}
.icons{
display:flex;
margin-left:32px;
list-style:none;
gap:10px;
}

.team-icon{
display:flex;
height:44px;
width:44px;
align-items:center;
justify-content:center;
border-radius: 50%;
background: var(--icons-first-background);
}	

.clients{
display:flex;
display:block;
}
.clients-list{
display:flex;
list-style:none;
gap:30px;
margin-top:50px;
}
.clients-title{
font-weight: 700;
font-size: 36px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}

.clients-icon{
display:flex;
width:170px;
height:92px;	
align-items:center;
justify-content:center;
border:1px solid var(--icons-border-color);
border-radius: 4px;
background: var(--icons-third-background);
fill:none;
}

.team{
background:var(--background-second);
}

.team-title{
font-weight: 700;
font-size: 36px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}
.team-list{
display:flex;
list-style:none;
margin-top:50px;
gap:30px;
}
.team-name{
font-weight: 500;
font-size: 16px;
line-height: 1.2;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;
}

.team-item{
background:var(--primary-white-color);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.team-card{
padding-top:30px;
padding-bottom:30px;
}

.team-profession{
margin-top:10px;
font-size: 16px;
line-height: 1.2;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;
color: var(--secondary-text-color);
}

.filter-buttons{
display:flex;
list-style:none;
justify-content:center;
gap:8px;
}
.filter-button{
cursor:pointer;
padding-left:25px;
padding-top:6px;
padding-bottom:6px;
padding-right:25px;
border-radius: 4px;
border-radius: 4px;
font-weight: 500;
font-size: 16px;
line-height: 1.6;
/* identical to box height, or 162% */
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
background: var(--button-background-second);
border:none;
transition-property: box-shadow;
transition-duration: 250ms;
transform: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover{
color:var(--third-text-color);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
background:var(--button-background);
}

.filter-button:focus{
color:var(--third-text-color);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);	
background:var(--selection-color);
}
.cards-box{
display:flex;
overflow: hidden;	
}
.cards-box:hover .cards-overlay {
 transform: translatey(0%);
 
  background:rgba(33, 150, 243, 0.9);
}
.cards-overlay{
display:flex;
width: 370px;
margin-left:-370px;

background: rgba(33, 150, 243, 0.9);
transform: translatey(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cards-overlay-title{
display:flex;
padding-left: 24px;
padding-top: 63px;
padding-bottom: 63px;
padding-right:24px;
font-weight: 400;
font-size: 18px;
line-height: 1.5;

/* or 156% */
letter-spacing: 0.03em;

color: var(--primary-white-color);
}
.cards{
display:flex;
flex-wrap:wrap;
list-style:none;
margin-top:50px;
padding:0;
gap:30px;
}
.cards-item:hover{
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);	
}
.cards-item:focus{
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);	
}
.cards-item__techno{
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);	
}
.cards-poster__techno{
text-decoration:none;
padding-top:20px;
padding-bottom:20px;
background: var(--card-background-color);
border: 1px solid var(--card-border-color);
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);	
}
.cards-poster{
text-decoration:none;
padding-top:20px;
padding-bottom:20px;
border: 1px solid var(--card-border-color);
border-top:none;
transition-property: box-shadow;
transition-duration: 250ms;
transform: cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-title{
margin-left:24px;
font-weight: 700;
font-size: 18px;
line-height: 2;
/* identical to box height, or 200% */
color: var(--primary-text-color);
letter-spacing: 0.06em;
}
.cards-text{
margin-left:24px;
margin-bottom:4px;
font-size: 16px;
line-height: 1.9;
/* identical to box height, or 188% */
letter-spacing: 0.03em;
color: var(--secondary-text-color);
}


.footer .container{
display:flex;
align-items:baseline;
padding-bottom:60px;
background: var(--footer-background);
}

.section-address{
display:flex;
display:block;
}
.communication{
display:flex;
align-items:left;
flex-direction:column;
margin-left:113px;
margin-top:97px;
}
.logo-same{
text-decoration:none;
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.2;
/* identical to box height */
letter-spacing: 0.03em;
color: var(--selection-color);
transition-property: color;
transition-duration: 250ms;
transform: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-same:focus{
color:var(--selection-color);
outline:1px solid var(--selection-color);	
}
.address-list{
display:flex;
flex-direction:column;
list-style:none;
margin-top:20px;
gap:9px;
}

.logo-same-part{
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.2;
/* identical to box height */
letter-spacing: 0.03em;
color: var(--third-text-color);
}
.address-link{
text-decoration:none;
font-style: normal;
line-height: 1.7;
/* or 171% */
letter-spacing:0.03em;
text-decoration:none;
color: var(--third-text-color);
}
.address-link:nth-child(1){
display:flex;
margin-right:-50px;
}
.address-selection.color{
color: var(--third-text-color);
}
.address-selection__contact{
text-decoration:none;
line-height: 1.7;
/* or 171% */
letter-spacing: 0.03em;
color: var(--contacts-footer-background);
transition-property: color;
transition-duration: 250ms;
transform: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-selection__contact:hover{
color:var(--selection-color);
}
.address-selection__contact:focus{
color:var(--selection-color);	
outline:1px solid var(--selection-color);
}

.networks-title{
margin-left: 176px;
margin-top:72px;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 1.1;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--third-text-color);
}

.networks-icons{
display:flex;
flex-direction:row;
margin-left:176px;
margin-top:20px;
list-style:none;
gap:10px;
}

.networks-icon:nth-child(1){
display:flex;
box-sizing:border-box;
width:44px;
height:44px;
border-radius: 22px;
background: var(--icons-foot-background);
padding-left: 30%;
padding-right: 18%;
padding-top: 30%;
padding-bottom: 10%;
}
.networks-icon:nth-child(2){
display:flex;
box-sizing:border-box;
width:44px;
height:44px;
border-radius: 22px;
background: var(--icons-foot-background);
padding-left: 30%;
padding-right: 18%;
padding-top: 30%;
padding-bottom: 10%;
}
.networks-icon:nth-child(3){
display:flex;
box-sizing:border-box;
width:44px;
height:44px;
border-radius: 22px;
background: var(--icons-foot-background);
padding-left: 30%;
padding-right: 18%;
padding-top: 30%;
padding-bottom: 10%;
}
.networks-icon:nth-child(4){
display:flex;
box-sizing:border-box;
width:44px;
height:44px;
border-radius: 22px;
background: var(--icons-foot-background);
padding-left: 30%;
padding-right: 18%;
padding-top: 30%;
padding-bottom: 10%;
}
.communication-title{
display:flex;
font-weight: 700;
font-size: 14px;
line-height: 1.1;
margin-left:-70px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-white-color);
}
.inputs{
display:flex;
margin-left:53px;
margin-top:5px;
}
.inputs-area{
box-sizing: border-box;
display: flex;
resize:none;
margin-left:-120px;
margin-top:13px;
width: 358px;
height: 50px;
background: var(--footer-background);
border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
color:var(--primary-white-color);
}
.inputs-area::placeholder{
display: flex;
padding-left: 16px;
padding-top: 15px;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.2;
/* identical to box height, or 125% */
align-items: center;
letter-spacing: 0.03em;
}
.inputs-area:focus{
outline:0px;
border:1px solid var(--selection-color);
}
.inputs-button{
display: flex;
margin-left: 12px;
margin-top:13px;
padding-left:28px;
padding-right:32px;
padding-top:10px;
padding-bottom:10px;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.9;
/* identical to box height, or 188% */
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: var(--primary-white-color);
background: var(--selection-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border:0px;
}
.inputs-send{
display: flex;
margin-left: 10px;
}
.footer-portfolio .container{
display:flex;
align-items:baseline;
padding-bottom:60px;
background: var(--footer-background);
}


